# 编译产物(没有扩展名的可执行文件)
ch03/01_hole_demo
ch03/02_append_demo
ch03/03_my_redirect
ch03/04_pread_demo
ch03/05_*
week1/ex2_*
week1/mini*
week1/hello_*

# 通用模式
*.out
a.out

# 测试产生的文件
**/test_file
**/src_file
**/dest_file
**/hole_file
**/out.txt
**/new_file
**/*.log

# 各章节编译产物(显式列出,保留历史)
ch04/01_buffer_demo
ch06/argv_demo
ch08/01_catch_sigint
ch08/02_alarm_demo
ch08/03_block_signal
ch08/04_sigsuspend
ch08/05_realtime_signal
ch08/06_abort_test
ch09/01_fork_basic
ch09/02_fork_var
ch09/03_fork_fd
ch09/04_zombie
ch09/06_sigchld
ch09/07_fork_exec
ch09/a.out

# 通用兜底:忽略所有 chNN/ 下没扩展名的可执行文件,但保留源码
ch*/[!.]*
!ch*/*.c
!ch*/*.h
!ch*/Makefile
